{% extends 'blog/base.html' %}
{% block head %}
<title>Контакты &#8211; Даниил Ковалев</title>
{% load static %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col s12 m12 l12 xl12">
    <div class="card-panel default-block">
      <h1>Контакты</h1>
      <p>Независимо от способа общения, есть одна просьба &#8211; сразу указывайте, по какому поводу пишете. Так общение
        пойдет быстрее и продуктивнее.</p>
      <p>Чтобы связаться со мной по электронной почте, можно использовать адрес
        <a href="mailto:daniil@kovalev.website">daniil@kovalev.website</a>. Из популярных мессенджеров относительно
        активно я использую Telegram, и вы можете написать мне и там:
        <a href="https://t.me/kovdan01" target="_blank">@kovdan01</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}