{% extends 'blog/base.html' %}
{% block head %}
<title>Резюме &#8211; Даниил Ковалев</title>
{% load static %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col s12 m12 l12 xl12">
    <div class="card-panel default-block" id="index">
      <h1>Резюме</h1>
      <p><a href="{% static 'docs/KovalevCV_ru.pdf' %}">Русская версия</a></p>
      <p><a href="{% static 'docs/KovalevCV_en.pdf' %}">English version</a></p>

      <h3>Open source и сообщество</h3>
      <p><b><a href="https://llvm.org/" target="_blank">LLVM</a>:</b> коммиты <a href="https://github.com/llvm/llvm-project/commits?author=kovdan01" target="_blank">см. здесь</a>.</p>
      <p><b><a href="https://qemu.org/" target="_blank">QEMU</a>:</b> коммит <a href="https://gitlab.com/qemu-project/qemu/-/commit/a0f8d2701b205d9d7986aa555e0566b13dc18fa0" target="_blank">a0f8d270</a>.</p>
      <p><b><a href="https://telegram.org/" target="_blank">Telegram</a>:</b>
        <a href="https://github.com/telegramdesktop/libtgvoip/pull/1" target="_blank">PR1</a> в
        <a href="https://github.com/telegramdesktop/libtgvoip" target="_blank">libtgvoip</a>, <a href="https://github.com/TDesktop-x64/tdesktop/pull/195" target="_blank">PR195</a> в <a href="https://github.com/TDesktop-x64/tdesktop" target="_blank">64gram-desktop</a>.
      </p>
      <p><b><a href="https://msgpack.org/" target="_blank">MessagePack</a>:</b>
        <a href="https://github.com/msgpack/msgpack-c/pull/951" target="_blank">PR951</a>,
        <a href="https://github.com/msgpack/msgpack-c/pull/952" target="_blank">PR952</a>,
        <a href="https://github.com/msgpack/msgpack-c/pull/953" target="_blank">PR953</a>,
        <a href="https://github.com/msgpack/msgpack-c/pull/954" target="_blank">PR954</a>,
        <a href="https://github.com/msgpack/msgpack-c/pull/955" target="_blank">PR955</a>,
        <a href="https://github.com/msgpack/msgpack-c/pull/971" target="_blank">PR971</a>,
        <a href="https://github.com/msgpack/msgpack-c/pull/972" target="_blank">PR972</a>.
      </p>
      <p><b><a href="https://pulseaudio.org/" target="_blank">PulseAudio</a>:</b>
        <a href="https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/201" target="_blank">MR201</a>.
      </p>
      <p><b>sqlpp11:</b> <a href="https://github.com/rbock/sqlpp11/pull/372" target="_blank">PR372</a> в
        <a href="https://github.com/rbock/sqlpp11" target="_blank">общей
          библиотеке</a>;
        <a href="https://github.com/rbock/sqlpp11-connector-mysql/pull/72" target="_blank">PR72</a>,
        <a href="https://github.com/rbock/sqlpp11-connector-mysql/pull/74" target="_blank">PR74</a> в
        <a href="https://github.com/rbock/sqlpp11-connector-mysql" target="_blank">драйвере MySQL</a>.
      </p>
      
      <p><b>MSVC2019:</b>
        <a href="https://developercommunity.visualstudio.com/t/Code-generation-bug-specific-for-Release/1467844"
          target="_blank">bug report</a> об ошибке кодогенерации.
      </p>
      <h3>Курсы</h3>
      <p>Курс <b>"C++ Developer. Professional"</b> от Otus: <a href="{% static 'docs/certs/OtusCXX.pdf' %}"
          target="_blank">сертификат</a>.</p>
      <p>Специализация <b>"Искусство разработки на современном C++"</b> от МФТИ и Яндекс на Coursera: сертификаты о
        прохождении
        <a href="{% static 'docs/certs/CXXWhiteBelt.pdf' %}" target="_blank">белого</a>,
        <a href="{% static 'docs/certs/CXXYellowBelt.pdf' %}" target="_blank">желтого</a>,
        <a href="{% static 'docs/certs/CXXRedBelt.pdf' %}" target="_blank">красного</a>,
        <a href="{% static 'docs/certs/CXXBrownBelt.pdf' %}" target="_blank">коричневого</a> поясов.
      </p>
      <p>Курс <b>"Введение в машинное обучение"</b> от НИУ ВШЭ и Яндекс на Coursera:
        <a href="{% static 'docs/certs/MachineLearning.pdf' %}" target="_blank">сертификат</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}
