{% extends 'blog/base.html' %}
{% block content %}
        <div class="row">
          <div class="col s12 m12 l12 xl12">
            <div class="card-panel" id="index">
              <p>Добро пожаловать на эту страницу! Меня зовут Даниил Ковалев. Мне 20 лет, и я занимаюсь разработкой на C++.</p>
              <p>На данный момент работаю в качестве C++ разработчика в <a href="https://www.softek-toolchains.com/" target="_blank">департаменте LLVM компании Access Softek</a> и занимаюсь улучшением открытой кодовой базы LLVM. До этого на протяжение 2021 года работал на позиции Research Developer в Performance Analysis Team в <a href="https://www.kaspersky.com/" target="_blank">лаборатории Касперского</a>, а с февраля 2019 по декабрь 2020 проходил там же стажировку в Core Drivers Development Team. С января 2018 по февраль 2020 преподавал факультативы по спортивному программированию и C++ в <a href="https://school.hse.ru" target="_blank">лицее НИУ ВШЭ</a>. Мое актуальное резюме можно найти <a href="{% url 'cv' %}">здесь</a>.</p>
              <p>Учусь на 5 курсе образовательной программы <a href="https://www.hse.ru/ba/cosec/" target="_blank">Компьютерная безопасность</a> в <a href="https://www.hse.ru/" target="_blank">НИУ ВШЭ</a>. Занимаю первое место в кумулятивном рейтинге потока.</p>
              <p>При наличии времени делаю вклад в open-source (подробнее см. на странице <a href="{% url 'contact' %}">резюме</a>). Стал призером двух соревнований от Telegram (<a href="https://contest.com/voip-contest-2" target="_blank">VoIP Contest, Stage 2</a>; <a href="https://contest.com/voip-contest-3" target="_blank">VoIP Contest, Stage 3</a>; ник Giant Hare).</p>
              <p>Иногда мне хочется делиться своими мыслями, и я это делаю в <a href="{% url 'blog' %}">блоге</a>. Кроме того, иногда я пишу <a href="https://habr.com/ru/users/kovdan01/posts/" target="_blank">на Хабре</a>.</p>
              <p>В свободное время играю на гитаре и бас-гитаре, занимаюсь звукозаписью. Состоял в музыкальной группе и имею опыт выступлений на сцене.</p>
              <p>Если по какой-то причине могу быть полезен &#8211; пишите по координатам, оставленным на <a href="{% url 'contact' %}">этой странице</a>.</p>
            </div>
          </div>
        </div>
{% endblock %}
