{% extends 'blog/base.html' %}
{% block content %}
        <div class="row">
          <div class="col s12 m12 l12 xl12">
            <div class="card-panel" id="index">
              <p>Добро пожаловать на эту страницу! Меня зовут Даниил Ковалев. Мне <span class="previous">17<i class="material-icons">arrow_forward</i>18<i class="material-icons">arrow_forward</i></span>19 лет и я учусь на <span class="previous">1<i class="material-icons">arrow_forward</i>2<i class="material-icons">arrow_forward</i>3<i class="material-icons">arrow_forward</i></span>4 курсе образовательной программы <a href="https://www.hse.ru/ba/cosec/" target="_blank">Компьютерная безопасность</a> в <a href="https://www.hse.ru/" target="_blank">НИУ ВШЭ</a>. Занимаю первое место в рейтинге потока.</p>
              <p>Занимаюсь разработкой на C++. С февраля 2019 года прохожу стажировку в <a href="https://www.kaspersky.com/">лаборатории Касперского</a> в Core Drivers Development Team. С января 2018 по февраль 2020 преподавал факультативы по спортивному программированию и C++ в <a href="https://school.hse.ru">лицее НИУ ВШЭ</a>. Мое актуальное резюме можно найти <a href="{% url 'cv' %}">здесь</a>.</p>
              <p>При наличии времени делаю вклад в open-source (<a href="https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/201">pulseaudio</a>, <a href="https://github.com/telegramdesktop/libtgvoip/pull/1">libtgvoip</a>). Стал призером двух соревнований от Telegram (<a href="https://contest.com/voip-contest-2">VoIP Contest, Stage 2</a>; <a href="https://contest.com/voip-contest-3">VoIP Contest, Stage 3</a>; ник Giant Hare).</p>
              <p>Иногда мне хочется делиться своими мыслями, и я это делаю в <a href="{% url 'blog' %}">блоге</a>. Кроме того, иногда я пишу <a href="https://habr.com/ru/users/kovdan01/posts/">на Хабре</a>.</p>
              <p>В свободное время играю на гитаре и бас-гитаре, занимаюсь звукозаписью. Состоял в музыкальной группе и имею опыт выступлений на сцене.</p>
              <p>Если по какой-то причине я могу быть полезен &#8211; пишите по координатам, оставленным на <a href="{% url 'contact' %}">этой странице</a>.</p>
            </div>
          </div>
        </div>
{% endblock %}
